drawing.svg

*.pyc
__pycache__/**/*

.ipynb_checkpoints

*.lp

data/imdb/covers/*.jpg
data/imdb/*.tsv
data/synth/imgs/*.png
eval/dataset/img/*.png

loom_*.json

metrics.json
drawing*.svg
embedding_gridded*
embedding_raw.svg
support*.svg
**/serialized.json
call.json

ilp_status_*.json

.DS_Store

.vscode/settings.json

designspace-result/results/**/*
