drawing.svg

*.pyc
__pycache__/**/*

.ipynb_checkpoints

*.lp

data/imdb/covers/*.jpg
data/imdb/*.tsv
data/synth/imgs/*.png

loom_*.json

metrics.json
drawing*.svg
embedding_gridded.svg
embedding_raw.svg
support*.svg
**/serialized.json


.DS_Store

.vscode/settings.json
