<!DOCTYPE html>

<HEAD>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
  <link rel="stylesheet" href="/static/styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.16.3"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.2"></script>
</HEAD>

<body>
  <!--
  <!--<object id="drawing" src="static/drawing_0.svg" type="image/svg+xml">
  </object>-->
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-6">
        <div class="row">
          <div class="col col-md-12">
            {% for s in selection %}
            <span class="legend-item legend-item-{{loop.index}}">{{s}}</span>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          {{svg_inline|safe}}
        </div>
      </div>
      <div class="col col-md-6">
        <div class="p-1">
          <h2>UnDRground Tubes</h2>
          <form action="/">
            <input type="text" name="selectedcomp" id="selectedcomp" value="" style="display: none;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="cardinalities-tab" data-bs-toggle="tab"
                  data-bs-target="#cardinalities" type="button" role="tab" aria-controls="cardinalities"
                  aria-selected="true">Cardinalities</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="componenttab" data-bs-toggle="tab" data-bs-target="#component" type="button"
                  role="tab" aria-controls="component" aria-selected="false">Component Detail</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="advancedtab" data-bs-toggle="tab" data-bs-target="#advanced" type="button"
                  role="tab" aria-controls="profile" aria-selected="false">Advanced Settings</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane show active" id="cardinalities" role="tabpanel" aria-labelledby="cardinalities-tab">
                <div class="form-group">
                  <select multiple class="form-select" id="set_selection" style="display:none;" id="selection"
                    name="selection">
                    {% for s in sets %}
                    <option value="{{s}}" {% if s in selection %} selected="selected" {% endif %}>{{s}}</option>
                    {% endfor %}
                  </select>
                  <div id="vis"></div>
                  <div>
                    <p id="vis-text"></p>
                  </div>
                  <div class="mt-3">
                    <button type="submit">Update</button>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="component" role="tabpanel" aria-labelledby="componenttab">
                <h6>Loadings</h6>
                <div id="loadingsVis"></div>
                <h6>Sets</h6>
                <div id="compsets"></div>
                <h6 class="mt-3">Map</h6>
                <div id="compmap"></div>
              </div>

              <div class="tab-pane" id="advanced" role="tabpanel" aria-labelledby="advancedtab">
                <div class="form-group">
                  <label for="weight">Weighting Element to Set Similarity</label>
                  <input type="range" class="form-control" id="weight" name="weight" min="0" max="1" value="{{weight}}"
                    step=".1" />
                </div>
                <div class="form-group mt-3">
                  <label for="cols">Grid Columns</label>
                  <input type="number" class="form-control" id="cols" name="cols" min="4" max="100" value="{{cols}}" />
                </div>
                <div class="form-group">
                  <label for="rows">Grid Rows</label>
                  <input type="number" class="form-control" id="rows" name="rows" min="4" max="100" value="{{rows}}" />
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="support" id="supportpath" value="supportpath" {% if
                    not treesupport %}checked {% endif %}>
                  <label class="form-check-label" for="supportpath">
                    Path
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="support" id="supporttree" value="supporttree" {% if
                    treesupport %}checked {% endif %}>
                  <label class="form-check-label" for="supporttree">
                    Tree
                  </label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" name="optConnect" id="optConnect" {% if
                    optConnect %}checked {% endif %}>
                  <label class="form-check-label" for="optConnect">Optimal Routing</label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" name="optRoute" id="optRoute" {% if
                    optRouter %} checked {% endif %}>
                  <label class="form-check-label" for="optRoute">Optimal Drawing</label>
                </div>
                <div class="mt-3">
                  <button type="submit">Update</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script>
    function ready(fn) {
      if (document.readyState !== 'loading') {
        fn();
        return;
      }
      document.addEventListener('DOMContentLoaded', fn);
    }
    ready(function () {
      var panZoomTiger = svgPanZoom('svg.undrground', {
        zoomEnabled: true,
        controlIconsEnabled: true,
        fit: true,
        center: true,
      });

      function updateVisText() {
        document.querySelector('#vis-text').textContent = Array.from(document.querySelectorAll('option[selected="selected"]')).map((option) => option.getAttribute('value')).join(', ')
      }
      let cardSpec = {
        "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
        "description": "A simple bar chart with embedded data.",
        "width": 700,
        "mark": { "type": "bar", "orient": "vertical" , "tooltip": true},
        "encoding": {
          "color": {
            "field": "type", "type": "ordinal",
              "scale": {
                "domain": ["low", "mid", "high", "kernel"],
                "range": ["#67a9cf", "#f7f7f7", "#ef8a62", "black"]
              }
          },
          "x": {
            "field": "name",
            "type": "nominal",
            "sort": { "field": "sort_order", "order": "descending" },
            "axis": { "labelAngle": -45 , "labelFontSize": 8}
          },
          "y": { "field": "count", "type": "quantitative" }
        }
      };
      cardSpec.data = { values: {{ set_size_json | safe }} };
      vegaEmbed('#vis', cardSpec).then(({spec, view}) => {
          view.addEventListener('click', function (event, item) {
            if (!item || !item.datum) {
              return
            }
            let qs = 'option[value="' + item.datum.name + '"]'
            let el = document.querySelector(qs);
            let selected = el.getAttribute('selected')
            let isSelected = selected !== null;
            if (isSelected) {
              el.removeAttribute('selected')
            } else {
              el.setAttribute('selected', 'selected')
            }
            updateVisText();
          })
      })
      updateVisText()

      // init map
      var center = {{ map_center }};
      var map = L.map('compmap').setView(center, 6);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      var mapEl = document.querySelector('#component')
      var observer1 = new MutationObserver(function(){
        if(mapEl.style.display != 'none'){
          map.invalidateSize();
        }
      });
      observer1.observe(mapEl, {attributes: true});

      const loadingsSpec = {
        "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
        "description": "A simple bar chart with embedded data.",
        "width": 700,
        "height": 100,
        "mark": { "type": "bar", "tooltip": true},
        "encoding": {
          "y": {"field": "value", "type": "quantitative"},
          "x": {"field": "element", "type": "ordinal"},
          "color": {"field": "value", "scale": { "type": "linear", "range": "diverging", "reverse": true} }
        },
        "config": {
          "axis": {"grid": true, "tickBand": "extent"}
        }
      }

      var mapCircleGroup = L.featureGroup();
      mapCircleGroup.addTo(map);
      var icons = {
        'bigneg': L.icon({ iconUrl: '/static/icon-neg.png', iconSize: [12, 12], iconAnchor: [6,6], popupAnchor: [6, 0] }),
        'neg': L.icon({ iconUrl: '/static/icon-neg.png', iconSize: [8, 8], iconAnchor: [4,4], popupAnchor: [8, 0] }),
        'mid': L.icon({ iconUrl: '/static/icon-location.png', iconSize: [4,4], iconAnchor: [2,2], popupAnchor: [4, 0] }),
        'pos': L.icon({ iconUrl: '/static/icon-pos.png', iconSize: [8, 8], iconAnchor: [4,4], popupAnchor: [8, 0] }),
        'bigpos': L.icon({ iconUrl: '/static/icon-pos.png', iconSize: [12, 12], iconAnchor: [6,6], popupAnchor: [6, 0] })
      }

      function updateCompDetailView(compName, compData) {
        // update loadings vis
        const loadingsAsNamedValue = Object.keys(compData.loadings).map((k) => [k,compData.loadings[k]]).reduce((a, kv) => ([...a, {'element': kv[0], 'value': kv[1] }]), [])
        const spec = {...loadingsSpec, data: {values: loadingsAsNamedValue}}
        vegaEmbed('#loadingsVis', spec)

        document.querySelector('#selectedcomp').setAttribute('value', compName)

        // update set icons
        Array.from(document.querySelector('#compsets').childNodes).forEach(n=>n.remove())
        const sortedSets = _.sortBy([...compData.sets], s => s.toLowerCase())
        for (const s of sortedSets) {
          let n = document.createElement('span')
          let classStr = 'badge me-1 rounded-pill'
          if (s.includes(': high')) {
            classStr += ' bg-rdbu-rd text-dark'
          } else if (s.includes(': low')) {
            classStr += ' bg-rdbu-bu text-dark'
          } else if (s.includes('kernel: ')) {
            classStr += ' bg-dark text-light'
          } else {
            classStr += ' bg-rdbu-center text-dark'
          }
          n.setAttribute('class', classStr)
          n.textContent = s;
          document.querySelector('#compsets').appendChild(n)
        }

        // update map icons
        mapCircleGroup.clearLayers()
        for (const row of compData.map_data) {
          let rowIcon = 'mid';
          if (row[compName] < compData.p5) {
            rowIcon = 'bigneg'
          }
          else if (row[compName] < compData.p25) {
            rowIcon = 'neg'
          }
          else if (row[compName] > compData.p95) {
            rowIcon = 'bigpos'
          }
          else if (row[compName] > compData.p75) {
            rowIcon = 'pos'
          }

          let marker = L.marker([row.latitude, row.longitude], { icon: icons[rowIcon] });
          marker.bindPopup(`${compName}: ${row[compName]}`)
          marker.addTo(mapCircleGroup)
        }
        map.invalidateSize()
      }

      function svgImageClickHandler() {
        let compName = this.querySelector('title').textContent;
        fetch(`/components/${compName}`)
          .then(resp => resp.json())
          .then(data => updateCompDetailView(compName, data))
      }

      Array.from(document.querySelectorAll('svg image')).forEach(node => {
        node.addEventListener('click', svgImageClickHandler.bind(node))
      })

      var triggerTabList = [].slice.call(document.querySelectorAll('#myTab button'))
      triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl)

        triggerEl.addEventListener('click', function (event) {
          event.preventDefault()
          tabTrigger.show()
        })
      })


      let sp = new URLSearchParams(window.location.search);
      if (sp.has('selectedcomp')) {
        let compName = sp.get('selectedcomp')
        fetch(`/components/${compName}`)
          .then(resp => resp.json())
          .then(data => {
            document.querySelector('#selectedcomp').setAttribute('value', compName);
            updateCompDetailView(compName, data)
            var triggerEl = document.querySelector('#componenttab')
            bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
          })
      }
  });
  </script>


</body>
